@use './variables' as *;
@use './normalize' as *;
@use './fonts' as *;

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%);
    left: 50%;
    overflow: scroll ;
}

.header {
    width: 100%;
    height: flex-size(116);
    border-bottom: flex-size(1) solid RGB(28, 42, 57, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: flex-size(3);
    background-color: $base-background-color;
    position: sticky;
    top: 0;
    z-index: 2;

    .header__h1 {
        margin-left: flex-size(166);
        @include montserrat-bold(24, 29.26);
    }

    .header-nav {
        margin-left: flex-size(243);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: flex-size(40);

        .header-nav__link {
            text-decoration: none;
            @include montserrat-medium(10, 12.19);
            text-transform: uppercase;
            cursor: pointer;
        }

        .header-nav__link:nth-child(1) {
            @include montserrat-bold(10, 12.19);
        }

        .header-nav__link:active {
            @include montserrat-bold(10, 12.19);
        }
    }

    .header-user-panel {
        margin-left: flex-size(252);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: flex-size(40);

        svg {
            cursor: pointer;
        }

        .header-user-panel__container {

            position: relative;

            .header-user-panel__user {
                width: flex-size(12);
                height: flex-size(15);
            }
    
            .header-user-panel__search {
                width: flex-size(15);
                height: flex-size(14.71);
            }
    
            .header-user-panel__shop-bag {
                position: relative;
                width: flex-size(13.68);
                height: flex-size(17);
            }

            .cart {
                position: absolute;
                width: flex-size(13);
                height: flex-size(13);
                background-color: #FF353A;
                top: flex-size(6);
                left: flex-size(4);
                border-radius: 50%;
                @include montserrat-medium(10, 12.19);
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
}

.header-burger,
.main-burger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-burger__svg,
.main-burger__svg {
    width: flex-size(80);
    height: flex-size(80);
}

.burger {
    display: none;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: normal;
    border: 0;
    padding: 0;
    color: currentColor;
    clip: rect(0px, 0px, 0px, 0px);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: flex-size(105);

    .slider-banner {
        width: flex-size(1120);
        height: flex-size(702);
        margin-bottom: flex-size(17);
        background-color: darkgrey;
        background-image: url(../images/black-friday-banner.jpg);
        background-size: cover;
        cursor: pointer;
        z-index: 0;
    }

    .slider-switcher {
        display: flex;
        gap: flex-size(10);

        .switcher {
            width: flex-size(12);
            height: flex-size(12);
            border: none;
            background-color: #EFEEF6;
            border-radius: 50%;
            cursor: pointer;
        }

        .switcher:nth-child(1) {
            background-color: #9E98DC;
        }

        .switcher:active {
            background-color: #9E98DC;
        }
    }

    .slider-change-promo {
        position: absolute;
        left: flex-size(1217);
        top: flex-size(195);
        width: flex-size(149);
        height: flex-size(204);
        background-color: #9E98DC;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0px flex-size(24) flex-size(36) 0px #35315447;


        .slider-change-promo__text {
            @include montserrat-bold(18, 21.94);
            text-transform: uppercase;
            width: flex-size(109);
            height: flex-size(66);
            margin: flex-size(102) 0 flex-size(4) flex-size(20);
        }

        .slider-change-promo__arrow {
            width: flex-size(55);
            height: flex-size(12);
            margin-left: flex-size(20);
        }
    }

    .slider-top-promo {
        position: absolute;
        width: flex-size(137);
        height: flex-size(273);
        right: 0;
        top: flex-size(475);
        background-color: #FF8FE6;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0px flex-size(24) flex-size(36) 0px #35315447;


        .slider-top-promo__text {
            @include montserrat-bold(18, 21.94);
            text-transform: uppercase;
            width: flex-size(69);
            height: flex-size(88);
            margin: flex-size(149) 0 flex-size(4) flex-size(21);
        }

        .slider-top-promo__arrow {
            width: flex-size(55);
            height: flex-size(12);
            margin-left: flex-size(20);
        }
    }
}

.aside {
    width: flex-size(416);
    height: flex-size(710);
    background-color: #EFEEF6;
    z-index: 0;

    .aside-nav {
        position: relative;
        top: flex-size(45);

        .sorting-list {
            @include montserrat-medium(12, 14.63);
            list-style-type: none;
            padding: 0;
        }

        .sorting-list li {
            margin-bottom: flex-size(23);
            margin-left: flex-size(160);
            cursor: pointer;
        }

        .sorting-list li:active {
            @include montserrat-bold(16, 19.5);
        }
    }
}

.active {
    @include montserrat-bold(16, 19.5);
    position: relative;
            background-image: url(../images/Ellipse.jpg);
            background-position: 0 50%;
            background-size: flex-size(6) flex-size(6);
            background-repeat: no-repeat;
            padding-left: flex-size(14);
            margin-left: flex-size(146);
            left: flex-size(-16);
}

.book-cards-table {
    position: absolute;
    left: flex-size(356);
    top: flex-size(1001);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cards__container {
    display: flex;
    flex-wrap: wrap;
    gap: flex-size(96) flex-size(76);
    width: flex-size(925);
    min-height: flex-size(1093);
    margin-bottom: flex-size(96);

    .book-card {
        width: flex-size(424);
        height: flex-size(300);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .book-card__cover {
            width: flex-size(212);
            height: flex-size(300);
            background-color: rgb(220, 220, 220);
            background-image: url(../images/no-image.png);
            background-size: cover;
            box-shadow: 0px flex-size(24) flex-size(36) 0px #35315447;
        }

        .book-card__filling {
            width: flex-size(176);
            height: flex-size(203);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .book-card__autor {
                @include open-sans-regular(10, 13.62);
                margin-bottom: flex-size(4);
            }

            .book-card__name {
                width: flex-size(176);
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                @include montserrat-bold(16, 19.5);
                margin-bottom: flex-size(4);
            }

            .book-card__review {
                position: relative;
                display: flex;
                gap: flex-size(1);
                margin-bottom: flex-size(16);
                align-items: center;

                .star {
                    width: flex-size(12);
                    height: flex-size(12);
                }

                .book-card__text {
                    @include open-sans-regular(10, 13.62);
                    margin-left: flex-size(5);
                }
            }

            .book-card__description {
                width: flex-size(176);
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                @include open-sans-regular(10, 13.62);
                margin-bottom: flex-size(16);
            }

            .book-card__price {
                @include montserrat-bold(13, 15.85);
                margin-bottom: flex-size(16);
            }
        }
    }
}

.btn {
    margin-top: auto;
    width: flex-size(176);
    height: flex-size(45);
    flex-shrink: 0;
    background-color: $base-background-color;
    @include montserrat-bold(8, 9.75, $base-buttons-color);
    text-transform: uppercase;
    border: flex-size(1) solid $base-buttons-color;
    cursor: pointer;
}

@media screen and (max-width: 320px) {

    .burger {
        display: flex;
    }

    .header-burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aside {
        display: none;
    }

    .header {

        justify-content: space-between;

        .header-nav {
            display: none;
        }

        .header__h1 {
            margin-left: 3.1vw;
        }

        .header-user-panel {
            margin: 0 3.2vw 0 0;

            .header-user-panel__container {
                .header-user-panel__user {
                    width: 6px;
                    height: 6px;
                }

                .header-user-panel__search {
                    width: 6px;
                    height: 6px;
                }

                .header-user-panel__shop-bag {
                    width: 6px;
                    height: 6px;
                }

                .cart {
                    width: 4px;
                    height: 4px;
                    top: 11px;
                    left: 2px;
                    font-family: "Montserrat";
                    font-weight: 500;
                    font-size: 3px;
                    line-height: 1.15;

                }
            }
        }
    }

    .slider {

        margin: 0;
        .slider-change-promo,
        .slider-top-promo {
            display: none;
        }

        .slider-banner {
            width: 94%;
        }

        .slider-switcher {
            .switcher {
                width: 10px;
                height: 10px;
            }
        }
    }

    .book-cards-table {
        top: auto;
        left: 3.1vw;
        width: 94%;

        .book-cards__container {
            width: 100%;
            justify-content: space-between;

            .book-card {
                width: 45%;
                height: 100px;

                .book-card__cover {
                    width: 50%;
                    height: 100%;
                }

                .book-card__filling {
                    width: 45%;
                    height: 100%;

                    .book-card__autor {
                        font-size: 5px;
                        line-height: 1.15;
                    }

                    .book-card__name {
                        font-size: 5px;
                        line-height: 1.15;
                    }

                    .book-card__description {
                        font-size: 5px;
                        line-height: 1.15;
                    }

                    .book-card__review {
                        .book-card__text {
                            font-size: 5px;
                                line-height: 1.15;
                        }

                        .star {
                            width: 4px;
                            height: 4px;
                        }
                    }
                }
            }
        }
    }

    .btn {
        width: 60px;
        height: 15px;
    }

    .header-burger {
        position: relative;
        flex-direction: column;

        .mobile__header-nav {
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: #FFFFFF;
            z-index: 1;
            width: 150px;
            height: auto;
            border-radius: 5px;
            top: 0;
            font-size: 10px;
            line-height: 1.15;
            list-style-type: none;
            font-family: 'Montserrat';
            font-weight: 500;
            margin: 15px 0 0 0;
            padding: 5px 0 5px 0;
            text-align: center;
            box-shadow: 0px 0px 0.69vw 0px rgba(0, 0, 0, 0.1)
        }
    }

    .main-burger {
        position: relative;
        flex-direction: column;

        .mobile__sorting-list {
            display: none;
            position: absolute;
            background-color: #FFFFFF;
            z-index: 1;
            width: 150px;
            height: auto;
            border-radius: 5px;
            top: 0;
            font-size: 10px;
            line-height: 1.15;
            list-style-type: none;
            font-family: 'Montserrat';
            font-weight: 500;
            margin: 15px 0 0 0;
            padding: 5px 0 5px 0;
            text-align: center;
            box-shadow: 0px 0px 0.69vw 0px rgba(0, 0, 0, 0.1)
        }
    }

    .active {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 10px;
        line-height: 1.15;
        display: inline-block;
        padding: 0;
        margin: 0;
        background-image: none;
        left: 0;
    }
}